<div class="container" style="margin-top: 15px">
  <%= form_for(:session, url: login_path) do |f| %>
    
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>
    </div>

      <%= f.submit "Log in", class: "btn btn-primary btn-lg" %>
  <% end %>

  <p>New user? <%= link_to "Sign up now!", u_new_path %></p>
</div>